<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>DemoDRA - Current Weather</title>

        <link rel="stylesheet" href="/built/css/default.css" />

        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-route/angular-route.js"></script>
        <script src="/js/controllers.js"></script>

    </head>

    <body>
        <div float="left">
            <% include includes/mainbody %>
        </div>
        
        <div id="map" style="height:400px; width:550px;"></div>
    		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCZ4QcQ_c7yxKg_AsQ2rwHqTFKTxNuMsA&callback=initMap"async defer></script>
    </body>

    <script>
         angular.element(document).ready(function() {
            angular.bootstrap(document, ['ConsoleModule']);
        });
    </script>

</html>